*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body{
    background-color: #222;
}
.app1{
    width: 90%;
    max-width: 470px;
    background-color: #0766AD;
    color: #fff;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
}
.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search input{
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}
.search button{
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
}
.search img{
    width: 16px;
}
.weathericon{
    width: 170px;
    margin-top: 30px;
}
.weather h1{
    font-size: 80px;
    font-weight: 500;
}
.weather h2{
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
}
.detail{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}
.col{
    display: flex;
    align-items: center;
    text-align: left;
}
.col img{
    width: 40px;
    margin-right: 10px;
}
.humidity, .wind{
    font-size: 28px;
    margin-top: -6px;
}
.Weather{
    display: none;
}
.error{
    text-align: left;
    margin-left: 10px;
    font-size: 14px;
    margin-top: 10px;
    display: none;
}
------------------------------githut logo ------------------------
.container{
    position: relative;
    z-index: 1;
}
.justify-content-center{
    justify-content: center !important;
}
.gx-lg-5 {
    --bs-gutter-x: 3rem;
}
.gx-4 {
    --bs-gutter-x: 1.5rem;
}
.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1* var(--bs-gutter-y));
    margin-right: calc(-.5* var(--bs-gutter-x));
    margin-left: calc(-.5* var(--bs-gutter-x));
}
.col-md-10 {
    flex: 0 0 auto;
    width: 83.33333333%;
}
.col-lg-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
}
.col-xl-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
}
.text-center {
    text-align: center !important;
}
.list-inline {
    padding-left: 0;
    list-style: none;
}
.list-inline-item {
    display: inline-block;
}
.fa-stack {
    display: inline-block;
    vertical-align: middle;
    height: 2em;
    position: relative;
    width: 2.5em;
}
.fa-lg {
    font-size: 1.25em;
    line-height: .05em;
    vertical-align: -.075em;
}
svg:not(:host).svg-inline--fa, svg:not(:root).svg-inline--fa {
    overflow: visible;
    box-sizing: content-box;
}

.svg-inline--fa.fa-stack-2x {
    height: 2em;
    width: 2.5em;
}
.fa-stack-2x {
    bottom: 0;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    z-index: var(--fa-stack-z-index, auto);
}
.svg-inline--fa.fa-stack-1x {
    height: 1em;
    width: 1.25em;
}
.fa-inverse {
    color: var(--fa-inverse, #fff);
}
.fa-stack-1x, .fa-stack-2x {
    bottom: 0;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    z-index: var(--fa-stack-z-index, auto);
}
.svg-inline--fa {
    display: var(--fa-display, inline-block);
    height: 1em;
    overflow: visible;
    vertical-align: -.125em;
}
img, svg {
    vertical-align: middle;
}
* {
    text-decoration: none !important;
}
*, ::after, ::before {
    box-sizing: border-box;
}
.small text-center text-muted fst-italic{
    color: white;
}